<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Crud Service</display-name>


  <context-param>
    <param-name>liquibase.changelog</param-name>
    <param-value>db/changelog.xml</param-value>
  </context-param>
  <context-param>
    <param-name>liquibase.datasource</param-name>
    <param-value>java:comp/env/jdbc/database</param-value>
  </context-param>
  <context-param>
    <param-name>liquibase.onerror.fail</param-name>
    <param-value>true</param-value>
  </context-param>
  <listener>
    <listener-class>liquibase.integration.servlet.LiquibaseJakartaServletListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.example.context.ContextListener</listener-class>
  </listener>

  <filter>
    <filter-name>ExceptionFilter</filter-name>
    <filter-class>org.example.filters.ExceptionsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExceptionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>org.example.servlets.user.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CatalogServlet</servlet-name>
    <servlet-class>org.example.servlets.catalog.CatalogServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VolumeServlet</servlet-name>
    <servlet-class>org.example.servlets.volume.VolumeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CatalogBrandServlet</servlet-name>
    <servlet-class>org.example.servlets.catalog.CatalogByBrandServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ColorServlet</servlet-name>
    <servlet-class>org.example.servlets.color.ColorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CarColorServlet</servlet-name>
    <servlet-class>org.example.servlets.carcolor.CarColorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CarVolumeServlet</servlet-name>
    <servlet-class>org.example.servlets.carvolume.CarVolumeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>org.example.servlets.order.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderByUserServlet</servlet-name>
    <servlet-class>org.example.servlets.order.OrderByUserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CatalogServlet</servlet-name>
    <url-pattern>/catalog/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VolumeServlet</servlet-name>
    <url-pattern>/volume/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CatalogBrandServlet</servlet-name>
    <url-pattern>/catalog/brand/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ColorServlet</servlet-name>
    <url-pattern>/color/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CarColorServlet</servlet-name>
    <url-pattern>/carcolor/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CarVolumeServlet</servlet-name>
    <url-pattern>/carvolume/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderByUserServlet</servlet-name>
    <url-pattern>/order/user/*</url-pattern>
  </servlet-mapping>

</web-app>
